/* CSS styles */

body {
	background-color: #cccccc;
}

h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
	padding: 20px;
	max-width: 500px;
	margin: 0 auto;
}

table {
	padding: 20px;
	max-width: 500px;
	margin: 0 auto;
}

table div {
	padding: 5px;
}
