.background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    background-position: center;
    background-size: cover;
    position: absolute;
}


.profile-bg{
    text-align: center;
    width: 500px;
    height: 480px;
    position: relative;
    margin: 5% auto;
    background: white;
    padding: 0px;
    overflow: hidden;
    border-radius: 25px;
    
}

.submit-btn{
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 100px; 
    padding-left:10px; 
    padding-right:10px; 
    cursor: pointer;
    
}

h1{
    background-image: linear-gradient(315deg, #0cbaba 30%, #380036 74%);
    color: white;
    font-family: Copperplate;
}

.fullname{
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
}

.address{
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px;     
}

.city{
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 100px; 
    padding-left:10px; 
    padding-right:10px; 
}

.state{
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width:75px; 
    padding-left:10px; 
    padding-right:10px; 
}

.zipcode{
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 100px; 
    padding-left:10px; 
    padding-right:10px; 
}



.name{
    color: black;
    border-radius: 25px;
    padding: 5px 15px;
}

.address-font{
    color: black;
    border-radius: 25px;
    padding: 5px 15px;
    
}

.city-font{
    color: black;
    border-radius: 25px;
    padding: 5px 15px;
}

.user{
    font-family: Copperplate;
}
   

