/* CSS styles */

*{
    margin: 0;
    padding: 0;

}
.background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pic.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}

#title {
	margin: 35px auto;
    background-image: linear-gradient(315deg, #10f7ff,#06ffac);
    color: white;
	text-align: center;
    font-family: Copperplate;
}

.quote{
	text-align: center;

}

.form {
    text-align: center;
    width: 500px;
    height: 480px;
    position: relative;
    margin: 5% auto;
    background: white;
    padding: 0px;
    overflow: hidden;
    border-radius: 25px;
}

.gallon_req{
    margin: 5px auto;
    border: 1px solid #848484;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline:0;
    height:25px;
    width: 100px;
    padding-left:10px;
    padding-right:10px;
}

.delivery_adr{
    margin: 5px auto;
    border: 1px solid #848484;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline:0;
    height:25px;
    width: 200px;
    padding-left:10px;
    padding-right:10px;
}

.d_date{
    margin: 5px auto;
    border: 1px solid #848484;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline:0;
    height:25px;
    width: 150px;
    padding-left:10px;
    padding-right:10px;
}

.suggested_p{
    margin: 5px auto;
    border: 1px solid #848484;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline:0;
    height:25px;
    width: 100px;
    padding-left:10px;
    padding-right:10px;
}

.total_amt{
    margin: 5px auto;
    border: 1px solid #848484;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline:0;
    height:25px;
    width: 100px;
    padding-left:10px;
    padding-right:10px;
}


.getquote-btn{
    width: 25%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #10f7ff,#06ffac);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: auto;
}

.submit-btn{
    width: 25%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #10f7ff,#06ffac);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: auto;
}

.back2{
    width: 12%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    outline: none;
    border-radius: 30px;
    margin-top: 90px;
    
}

