/* CSS styles */

*{
    margin: 0;
    padding: 0;

}
.background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pic.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}
#title {
	margin: 35px auto;
    background-image: linear-gradient(315deg, #10f7ff,#06ffac);
    color: white;
	text-align: center;
    font-family: Copperplate;
}

.table {
	font-family: courier;
	text-align: center;
	width: 500px;
	height: auto;
	position: relative;
	margin: 5% auto;
	background: white;
	padding: 0px;
	overflow: hidden;
	border-radius: 25px;
}