*{
    margin: 0;
    padding: 0;

}
.something{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pic.png);
    background-position: center;
    background-size: cover;
    position: absolute; 
} 

.form-a{
    width: 1000px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(255, 255, 255);
    padding: 5px;
    overflow: hidden;
    border-radius: 25px; 
}

table, th, td{
	border: 1px solid black;
}

th,td{
	padding: 20px 40px;
}

table.center {
	margin-left: auto; 
	margin-right: auto;
  }

h1{
    text-align: center;
    margin: 35px auto;
    background-image: linear-gradient(315deg, #10f7ff,#06ffac);
    color: white;
    font-family: Copperplate;
    position: relative;
    border-radius: 25px;
}