*{
    margin: 0;
    padding: 0;

}
.something{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pic.png);
    background-position: center;
    background-size: cover;
    position: absolute;
} 

.form-a{
    width: 1000px;
    height: 600px;
    position: relative;
    margin: 10% auto;
    background: rgb(255, 255, 255);
    padding: 5px;
    overflow: hidden;
    border-radius: 25px;
}

h1{
    text-align: center;
    margin: 10px auto;
    background-image: linear-gradient(315deg, #10f7ff,#06ffac);
    color: white;
    font-family: Copperplate;
    position: relative;
    border-radius: 25px;
}
