*{
    margin: 0;
    padding: 0;

}

.background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pic.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}


.profile-bg{
    text-align: center;
    width: 500px;
    height: 480px;
    position: relative;
    margin: 5% auto;
    background: white;
    padding: 0px;
    overflow: hidden;
    border-radius: 25px;
    
}

.submit-btn{
    width: 30%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #10f7ff,#06ffac);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 50px;
    
}

h1{
    
    margin: 35px auto;
    background-image: linear-gradient(315deg, #10f7ff,#06ffac);
    color: white;
    font-family: Copperplate;
    
}

.fullname{
    margin: 5px auto;
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
}

.address{
    margin: 5px auto;
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px;     
}

.address2{
    margin: 5px auto;
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px;     
}

.city{
    margin: 5px auto;
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 100px; 
    padding-left:10px; 
    padding-right:10px; 
}

.state{
    margin: 5px auto;
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width:75px; 
    padding-left:10px; 
    padding-right:10px; 
}

.zipcode{
    margin: 5px auto;
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 100px; 
    padding-left:10px; 
    padding-right:10px; 
}



.name{
    color: black;
    border-radius: 25px;
    padding: 5px 15px;
}

.address-font{
    color: black;
    border-radius: 25px;
    padding: 5px 15px;
    
}

.city-font{
    color: black;
    border-radius: 25px;
    padding: 5px 15px;
}

.user{
    font-family: Copperplate;
}
   
.errorContainer{
    background: #DDAAAA;
    padding: 2px;
    display: none;
    margin: 10px 0px;
}

.error{
    color: red;
    font-size: 12px;
    text-align: left;
}

.back1{
    width: 15%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 180px;
    position: absolute;
    
}
