/* CSS styles */

*{
    margin: 0;
    padding: 0;

}
.background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pic.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}

#title {
	margin: 35px auto;
    background-image: linear-gradient(315deg, #10f7ff,#06ffac);
    color: white;
	text-align: center;
    font-family: Copperplate;
}

.quote{
	text-align: center;
	
}

.form {
    text-align: center;
    width: 500px;
    height: 480px;
    position: relative;
    margin: 5% auto;
    background: white;
    padding: 0px;
    overflow: hidden;
    border-radius: 25px;
}

.gallon_req{
    margin: 5px auto;
    border: 1px solid #848484; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
}


.submit-btn{
    width: 25%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #10f7ff,#06ffac);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 60px;
}
