*{
    margin: 0;
    padding: 0;

}
.something{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pic.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-a{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(255, 255, 255);
    padding: 5px;
    overflow: hidden;
    border-radius: 25px;
}

.form-button{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #36f2ffab;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #10f7ff,#06ffac);
    border-radius: 30px;
    transition: .5s;
}

.inputs{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #10f7ff,#06ffac);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 50px;


}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

.errorContainer{
    background: #DDAAAA;
    padding: 2px;
    display: none;
    margin: 10px 0px;
}

.error{
    color: red;
    font-size: 12px;
    text-align: left;
}